.Input {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 390px;
    width: 100%;
}

.Input-field {
    border-bottom: 1px solid #ced4da;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    font-family: OpenSans-Regular;
    background-color: #fff;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.Input-row {
    align-items: center;
    display: flex;
    border-bottom: 1px solid #ced4da;
}

.Input-row .Input-field{
   border: 0;
}