.CheckoutForm-checkbox {
    width: 100%;
    max-width: 390px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.CheckoutForm {
    width: 100%;
    padding: 0 1rem;
    padding-bottom: 30px;
}