.content-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;
}

.content-list {
    --ion-item-background: #fff;
    grid-row: 1/2;
    grid-column: 1/2;
    overflow-y: auto;
}

.Popup-container {
    grid-row: 1/2;
    grid-column: 1/2;
    overflow-y: hidden;
    height: 1050px;
    width: 100%;
    background-color: #fff;
    z-index: 20;
    top: 10%;
    position: absolute;
    left: 0;
}

.Popup-content {
    padding: 0 15px;
}

.Popup-container ion-img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.Popup-container h1 {
    color: #333;
    font-size: 1.5erem;
    font-weight: 600;
}

.Popup-container p {
    color: #555;
    font-size: 1.1rem;
    line-height: 2rem;
}

.item {
    --background: #fff;
    width: 100%;
}
.card {
    margin: 5px 10px;
    width: 100%;
    background-color: #fff;
}

ion-card .card-content ion-text {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
}

ion-card ion-img {
    height: 250px;
    width: 100%;
    object-fit: contain;
}