.Title {
    color: #212529;
    font-family: OpenSans-Bold !important;
    font-size: 25px;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
    padding-top: 30px;
    display: block;
}