.page {
  background-color: #1c243e;

  ion-content {
    --background: #1c243e;
    overflow: hidden;
  }

  ion-card-subtitle {
    padding-left: 1.2rem;
    margin-top: 1.9rem;
    padding-bottom: 1rem;
    --color: white;
    font-family: OpenSans-Bold;
  }

  .results {
    --color: #fff;
  }

  ion-searchbar {
    --border-radius: 0px;
    --background: white;
    --color: black;
    min-height: 5rem;
    padding: 1rem;
    padding-top: 0;
    margin-top: 0rem;
    font-family: OpenSans-Bold;
  }

  ion-list {
    background-color: #1c243e;
  }

  ion-item {
    --hightlight-background: transparent;
  }
}

.Layout-page {
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  height: 100%;
  overflow: auto;
}