.CheckoutCart {
    min-height: 325px;
    overflow: hidden;
    --ion-color-base: #fff !important;
}

.CheckoutCart-title {
    text-align: left;
    font-family: OpenSans-Bold !important;
    font-weight: 700;
}

.CheckoutCart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.CheckoutCart-item.discount,
.CheckoutCart-item.discount .Text,
.CheckoutCart-item.discount .CheckoutCart-row .Text {
    color: green;
}

.CheckoutCart-list {
    margin: 0 auto !important;
    border: 1px solid rgba(0, 0, 0, .125);
    width: 95%;
}

.CheckoutCart-row {
    width: 90%;
}

.CheckoutTitle {
    color: #0d6efd;
}