.InputRadio {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    font-family: OpenSans-Regular;
}

.InputRadio-content {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 390px;
    width: 100%;
    display: block;
}

