@font-face {
    font-family: OpenSans-Regular;
    font-style: normal;
    src: url("../../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: OpenSans-Bold;
    font-style: bold;
    src: url("../../assets/fonts/OpenSans-Bold.ttf");
}

.page {
    ion-searchbar {

        --border-radius: 0px;
        --background: white;
        --color: black;
        min-height: 5rem;
        padding: 1rem;
        padding-top: 0;
        margin-top: 0rem;
        font-family:OpenSans-Bold;
    }

    ion-list {
        background-color: #1c243e;
    }
}

.Employee-content {
    background-color: #1c243e;
    height: 100%;
    width: 100%;
    overflow: scroll !important;
    margin-top: 20px;
}

